In [3]:
import requests
import pandas as pd
import time, random
import urllib.request
import xmltodict
import pandas as pd
import numpy as np

In [1]:
def get_user_data(user_id, key='ZRnySx6awjQuExO9tKEJXw', v='2', shelf='read', per_page='200'):
    api_url_base = 'https://www.goodreads.com/review/list/'
    final_url = api_url_base + user_id + '.xml?key=' + key + \
        '&v=' + v + '&shelf=' + shelf + '&per_page=' + per_page
    contents = urllib.request.urlopen(final_url).read()
    return(contents)

In [4]:
users = pd.read_csv('users_jellicoe.csv')

In [37]:
users.head(1)

,book_id_title,book_id,book_title,review_url,review_id,date,rating,user_name,user_url,text,num_likes,sort_order,shelves,user_id
0,1162022.On_the_Jellicoe_Road,1162022,On the Jellicoe Road,https://www.goodreads.com/review/show/150132503,150132503,2011-02-23,5.0,Emily May,/user/show/4622890-emily-may,There's a monster in my mirror with puffy bloo...,412,default,"['young-adult', '2011', 'contemporary']",4622890

In [9]:
user_ids = []
for user in users.user_url:
    user_ids.append(''.join(filter(lambda i: i.isdigit(), user)))
users['user_id'] = user_ids

In [33]:
big_df = pd.DataFrame()
error_users = []
non_http_errors = []

In [ ]:
for user_id in user_ids[879:]:
    time.sleep(np.random.uniform(1,5))
    try:
        data = get_user_data(user_id)

    except:
        print(f'Error User: {user_id}')
        error_users.append(user_id)
        continue
    try:
        parsed = xmltodict.parse(data)
        user_df = pd.json_normalize(parsed['GoodreadsResponse']['reviews']['review'])
    except BaseException as error:
        non_http_errors.append((error.__doc__, data))
        continue
    user_df = user_df.iloc[:,[0,1,7,8,18,20,22,30,35,37,38]]
    user_df['user_id'] = user_id
    big_df = pd.concat([big_df, user_df])
    big_df.to_csv('users_history.csv', index=False)

Error User: 46883273
Error User: 111077336
Error User: 1296139261337
Error User: 95633279
Error User: 2340422
Error User: 120468691
Error User: 79951994
Error User: 103963870
Error User: 45416018
Error User: 5814542
Error User: 105887642
Error User: 62678728
Error User: 42321755
Error User: 66519411
Error User: 67310619
Error User: 14937475
Error User: 104760372
Error User: 42258379
Error User: 89303404
Error User: 100762805
Error User: 99305696
Error User: 942050523688
Error User: 16847432
Error User: 82679096
Error User: 84043291
Error User: 6447531
Error User: 88717412
Error User: 84908334
Error User: 87031420
Error User: 86259752173
Error User: 2912910
Error User: 10646708
Error User: 14169281
Error User: 50330438
Error User: 27346951
Error User: 46968608
Error User: 5935731
Error User: 40701330
Error User: 29316212
Error User: 4056211
Error User: 2871868
Error User: 52442711
Error User: 78770563
Error User: 9524838
Error User: 1679200
Error User: 1914747
Error User: 1831628
Error User: 2251736
Error User: 267547
Error User: 742121
Error User: 1530779
Error User: 1720911
Error User: 2531440
Error User: 2658329
Error User: 2678649
Error User: 1232694
Error User: 2287815
Error User: 331993
Error User: 922954
Error User: 1780615
Error User: 3006876
Error User: 3403268
Error User: 237998
Error User: 3665928
Error User: 930421
Error User: 928056
Error User: 2273046
Error User: 3878203
Error User: 3787802
Error User: 3991707
Error User: 4105331
Error User: 4332329
Error User: 4350052
Error User: 2748810
Error User: 4400921
Error User: 3257606
Error User: 1533911
Error User: 4438382
Error User: 5220723
Error User: 5270012
Error User: 4234631
Error User: 1272028
Error User: 5938234
Error User: 5955996
Error User: 6002766949
Error User: 5382743
Error User: 4162615
Error User: 1666348
Error User: 843783
Error User: 4089872
Error User: 3010281
Error User: 6050665
Error User: 2674898
Error User: 5666971
Error User: 3782577
Error User: 6458741
Error User: 6616231
Error User: 6682586
Error User: 6752358
Error User: 736609
Error User: 6248288
Error User: 5508617
Error User: 4234165
Error User: 234533
Error User: 6582996
Error User: 4855950
Error User: 7195747
Error User: 3619723
Error User: 7214825
Error User: 3320637
Error User: 7190019
Error User: 7237697
Error User: 5269607
Error User: 593762862
Error User: 5150690
Error User: 2464572
Error User: 7605235
Error User: 6635124
Error User: 7616073
Error User: 6480222
Error User: 7882796
Error User: 7895842
Error User: 7944790
Error User: 5597246
Error User: 7342529
Error User: 8240580
Error User: 8248849
Error User: 3000167
Error User: 6520961
Error User: 8778138
Error User: 6509005
Error User: 554354
Error User: 2564342
Error User: 9150654
Error User: 9184505
Error User: 8032259
Error User: 9893192
Error User: 1887310
Error User: 10286653
Error User: 4284363
Error User: 5547313
Error User: 10935862
Error User: 11339570
Error User: 10590792
Error User: 11549245
Error User: 2264050
Error User: 11930242
Error User: 7509137
Error User: 6316003
Error User: 7541061
Error User: 13015333
Error User: 13514858
Error User: 11708038
Error User: 13481260
Error User: 8937367
Error User: 43712972
Error User: 96049721
Error User: 98886511
Error User: 33863062
Error User: 127493022
Error User: 127779344
Error User: 96259575
Error User: 98694640
Error User: 7784930
Error User: 10615713
Error User: 20841132
Error User: 5127291
Error User: 47812996
Error User: 129172237
Error User: 127965747
Error User: 127824260
Error User: 120576104
Error User: 118199043
Error User: 7818164
Error User: 19074
Error User: 120689728
Error User: 78246599
Error User: 40488410
Error User: 3030862
Error User: 32293518
Error User: 29056106
Error User: 4696938
Error User: 34051671
Error User: 4181890
Error User: 107397727
Error User: 78875642
Error User: 28980455
Error User: 10183562
Error User: 28855142
Error User: 106976
Error User: 82968824
Error User: 73923977
Error User: 10683522
Error User: 104759485
Error User: 52229875
Error User: 103862661
Error User: 20689523
Error User: 1302720
Error User: 102612018
Error User: 77454793
Error User: 1315272
Error User: 13520883
Error User: 99792141
Error User: 59695119
Error User: 99437852
Error User: 99436852
Error User: 6293866
Error User: 98486329
Error User: 72980859
Error User: 97682790
Error User: 4485459
Error User: 22077110
Error User: 9509543224
Error User: 20393970
Error User: 93349336
Error User: 56390647
Error User: 56961177

In [57]:
big_df.shape

(103723, 13)

In [15]:
history = pd.read_csv('users_history.csv')

In [81]:
df1, df2, df3 = df.iloc[:2], df.iloc[2:4], df.iloc[4:6]

In [83]:
big_df = pd.DataFrame()
for df in [df1, df2, df3]:
    big_df = pd.concat([big_df, df])

In [93]:
df = pd.json_normalize(data['GoodreadsResponse']['reviews']['review'])
#df = df.iloc[:,[0,1,7,8,18,22,30,35,37,38]]

In [58]:
df = df.iloc[:3,[0,1,7,8,18,22,30,35,37,38]]
df['user_id'] = user_id

In [88]:
for key, value in data['GoodreadsResponse'].items():
    print(key)

Request
shelf
reviews

In [95]:
df.iloc[:3,[0,1,7,8,18,22,24,25,30,35,37,38]]

,id,rating,started_at,read_at,book.id.#text,book.text_reviews_count.#text,book.title,book.title_without_series,book.num_pages,book.publication_year,book.average_rating,book.ratings_count
0,4424684252,2,Thu Dec 30 00:00:00 -0800 2021,Fri Dec 31 00:00:00 -0800 2021,57637452,15,Once Upon a Time We Ate Animals: The Future of...,Once Upon a Time We Ate Animals: The Future of...,288,2021,3.80,498
1,4406846067,5,Thu Dec 23 00:00:00 -0800 2021,Wed Dec 29 00:00:00 -0800 2021,55918521,516,Midnight in Everwood,Midnight in Everwood,384,2021,3.75,2266
2,4401201075,4,Tue Dec 21 00:00:00 -0800 2021,Thu Dec 23 00:00:00 -0800 2021,57299301,74,"The North Wind (The Four Winds, #1)",The North Wind,551,2022,4.15,93